//- The layout wrapper this page will use
extends ../jade/layouts/default

//- Page config, append to overwrite the default config of config.jade
prepend config
	- var PageTitle = "Home"
	- var MetaDesc = "Synappcss, a framework you don't need"

//- To add more stylesheets to this page, append some.
append stylesheets

//- Actual content ***********************************
block content
	h1.pagetitle Welcome to the Synappcss test page
	img(src="img/synappcss-logo.png", alt="Synappcss Framework Jade & Sass")
	ul
		li: a(href="") test
		li: a(href="") test
	p
	| You can write
	strong  content 
	| like this
	br
	| and break lines...
	p.jquerytest Jquery is not working :(
	script.
		if (window.jQuery) {
			$('.jquerytest').html("jQuery is working ! YAY !");
		}