|<!--[if lt IE 7]><p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
header
	nav
		ul
			li
				a(href="index.html") Home
			li
				a(href="docs.html") Docs
			li
				a(href="changelog.html") Changelog
			li
				a(href="about.html") Download