// Everything in there is broken as hell, will rework very soon.

html
	margin-top: 40px
	background: $rouge
body
	+outer-container
	+linear-gradient(to top, $rouge, $orange, $fallback: $rouge)
	background-size: cover
	background-repeat: no-repeat
	width: 80%
	+centrer
	font-family: $font
	box-shadow: 0 0 40px rgba(0,0,0,0.2)

h1, h2
	font-weight: 700
	color: $rouge

h3, h4, h5, h6
	font-weight: 700
	color: $orange

p, ul, li
	font-weight: 400

strong
	font-weight: 700

header
	+fill-parent
	color: $blanc
	background: darken($terre, 5)
	h1
		color: $blanc
		font-size: 36px
		line-height: 120px
		height: 120px
		margin: 0
		display: block
		text-align: center

	nav
		ul
			margin: 0
			padding: 0
			font-size: 0
			+row()
			li, a
				transition: 0.5s
			li
				+span-columns(4)
				+media($tablet)
					+row()
				height: 80px
				line-height: 75px
				text-align: center
				background: $terre
				// Début du fix lien clickable sur la hauteur
				position: relative
				&:hover
					background: $blanc;
				a
					font-size: 24px
					text-decoration: none
					color: $blanc
					display: inline-block
					&:hover
						color: $terre
					// Suite du fix lien clickable sur la hauteur (http://bit.ly/1pX9LQ1)
					&:before
						content: ""
						position: absolute
						left: 0
						right: 0
						top: 0
						bottom: 0
						background-color: rgba (0,0,0,0)

body section.container
	+fill-parent
	padding: 60px 100px
	+media($tablet)
		padding: 40px 60px
	color: $terre
	background: $blanc
	p, ul, li, a 
		font-size: 16px
		line-height: 26px
	
	a 
		color: $orange
		border-bottom: 1px solid $ciel
		text-decoration: none
		transition: 0.3s
		&:hover 
			color: $rouge
			border-bottom: 1px solid darken($ciel,40)
	.infobox
		background-color: lighten($ciel, 5)
		color: darken($ciel, 55)
		border-radius: 10px
		padding: 15px 25px 15px 50px
		position: relative
		&:before
			content: "?"
			font-size: 48px
			color: darken(desaturate($ciel, 40), 10)
			cursor: default
			display: block
			position: absolute
			top: 25px
			left: 15px

footer
	+fill-parent
	+row()
	color: $blanc
	background: $terre
	padding: 60px 100px
	p
		margin:0
	a
		color: $blanc
		text-decoration: none
		font-weight: 700
		transition: 0.3s
		border-bottom: 1px solid white
		&:hover
			color: $orange
			border-color: $orange