// Everything in there is broken as hell, will rework very soon.

body
	+outer-container
	background-color: $sky
	+media($desktop)
		margin-top: 2rem

header
	background-color: $grey
	+span-columns(4)
	+media($desktop)
		+span-columns(12)
		+omega
	nav
	nav ul
		margin: 0
		padding: 0
	nav li, nav a
		transition: 0.2s
	nav li
		background-color: $grey
		text-align: center
		+span-columns(4)
		+media($desktop)
			+span-columns(3)
		position: relative
		&:hover, &:active
			background-color: $white
	nav a
		color: $white
		text-decoration: none
		line-height: 50px
		+coverlink
		&:hover, &:active
			color: $grey
		


.container
	+span-columns(4)
	+pad(2rem default 2rem default)
	+omega
	+media($desktop)
		+span-columns(12)
		+pad(2rem default 2rem default)
		+omega
	background-color: $white
	+omega
.pagetitle
	margin: 0

footer
	+span-columns(4)
	+media($desktop)
		+span-columns(12)
		+omega
	background-color: $grey
	+pad(2rem default 2rem default)
	p
		margin: 0
	p, a
		color: $white