//- Leave empty if you dont want any google fonts
- var GoogleFonts = 'Lato:400,700'

- var jQuery = true

//- Define the html lang attribute (en/fr/...)
- var SiteLang = "en"

- var SiteTitle = "Synappcss"

- var SiteTitle = SiteTitle.concat(' | ' + PageTitle)

- var BodyClasses = ['default', 'index']
