//- Leave empty if you dont want any google fonts
- var GoogleFonts = 'Lato:400,700'

- var jQuery = true

//- Define the html lang attribute (en/fr/...)
- var SiteLang = "en"

- var SiteTitle = "Synappcss"

- var PageTitle = "Default page title"

- var SiteTitle = SiteTitle.concat(' | ' + PageTitle)

- var MetaDesc = "Default meta description"

- var BodyClasses = ['default', 'index']