// Imports
@import mixins
@import bourbon
@import neat-helpers
@import grid-settings
@import neat
@import normalize

// Typography
$basefs: 16px
$em-base: $basefs // Sets global base em size for the px-to-em and px-to-rem function. This should be the same size as your body font-size. Setting default is 16px.
// minor third (1.2)
$unit6: 2.488rem
$unit5: 2.074rem
$unit4: 1.728rem
$unit3: 1.44rem
$unit2: 1.2rem
$unit1: 1.0rem

$titre: 'Varela Round', sans-serif
=titre
	font-family: $titre 

$corps: 'Lato', sans-serif
=corps
	font-family: $corps
	font-weight: 400
=corpsg
	font-family: $corps
	font-weight: 700
=corpsgg
	font-family: $corps
	font-weight: 900

// Colors
$red: #EB3349
$orange: #F45C43
$white: #F5ECE1
$earth: #45331E
$sky: #CCEBF1

// Loaded fonts
$font: 'Lato', sans-serif

// Import layouts, pages & modules
@import layouts/default
@import partials/index
@import partials/textselection